<div class="jumbotron" id="bid_sign_up">
    <header>

        {{bid_sign_up_name}}
        <div class="header-left">
            <button class="btn-style btn-4" ng-click="back_bid_list()">返回</button>

        </div>
        <div class="header-right">
            <button class="btn btn-style btn-4" ng-click="end_bid_sign_up()" ng-disabled="{{button_disable}}">结束</button>
        </div>
    </header>
</div>

<div id="wrapper" class="wrapper scrollable" >
    <table class="table">
        <tr ng-repeat="information in informations">
            <td style="width: 50%">{{information.name}}</td>
            <td style="width: 50%;text-align: right">{{information.phone}}</td>

        </tr>
    </table>
</div>


