<div class="jumbotron" id="book">
    <header>
        竞价
        <div class="header-left">
            <button class="btn btn-style btn-4" ng-click="back_list()">返回</button>

        </div>
        <div class="header-right">
            <button class="btn-style btn-4" ng-click="bid_result()">列表</button>
        </div>
    </header>
</div>
<div id="wrapper" class="wrapper scrollable" >
    <table class="table">
        <tr ng-repeat="result in bid_statistics" >
            <td style="width: 50%">{{result.price}}</td>
            <td style="width: 50%;text-align: right">{{result.count}} 人</td>

        </tr>
    </table>
</div>
<div>  <footer>
    竞价结果:
    name:{{win.name}}
    phone:{{win.phone}}
    price:{{win.price}}

</footer></div>
