<div class="jumbotron" id="bid_sign_up">
    <header>

        {{bid_sign_up_name}}报名人数:{{sign_up_number}}
        <div class="header-left">
            <button class="btn btn-style btn-4" ng-click="back_bid_list()">返回</button>

        </div>
        <div class="header-right">
            <button class="btn btn-style btn-4" ng-click="end_bid_sign_up()" ng-disabled="{{button_disable}}">结束</button>
        </div>
    </header>
</div>

<div id="wrapper" class="wrapper scrollable" >
    <table class="table-condensed">
        <tr ng-repeat="(index,information) in informations">
            <td>{{index+1}}:</td>
            <td>
            <table>
                <tr><td>姓名：{{information.name}}</td></tr>
                <tr><td>电话：{{information.phone}}</td></tr>
    </table></td></tr></table>
</div>


