<div class="jumbotron" id="book">
    <header>
        <!--<script type="text/javascript">localStorage.getItem(partyname)</script>-->
        报名{{number}}
        <div class="header-left">
            <button class="btn-style btn-4" ng-click="list1()">返回</button>
            <button class="btn-danger" ng-click="delete_activity()">删除</button>
        </div>
        <div class="header-right" ng-controller="start_button_controller">
            <button class="btn-style btn-4" ng-click="hide()" ng-show="startbutton">开始</button>
            <button class="btn-style btn-4"  ng-click="show()" ng-hide="startbutton">结束</button>
        </div>
    </header>
</div>
        <!--<div style="text-align: center">-->
         <!--<h4>活动：{{book_partyname}}</h4>-->
        <!--</div>-->
<div id="wrapper" class="wrapper scrollable">
    <table class="table">
        <tr>
            <td>名字</td>
            <td>电话</td>
        </tr>
        <tr ng-repeat="(index, name) in names">
            <td>{{name}}</td>
            <td>{{phones[index]}}</td>

        </tr>
    </table>
    <!--<ul class="list-style-3">-->


        <!--<li class=" clearfix btn-default" ng-repeat="name in names " >-->
            <!--<p class="pagination-centered">{{name}}{{phone}}</p>-->
        <!--</li>-->
        <!--<li class=" clearfix btn-default" ng-repeat="phone in phones " >-->
            <!--<p class="pagination-centered">{{phone}}</p>-->
        <!--</li>-->
    <!--</ul>-->
</div>


<div>  <footer>
            <ul class="footer-nav footer-nav-2tabs">
                <li><a href=""><i class="icon-group"></i><br />开始</a></li>
                <li><a href=""><i class="icon-comments"></i><br />竞价</a></li>
            </ul>
        </footer></div>