<div class="jumbotron">
    <header>
        <!--<script type="text/javascript">localStorage.getItem(partyname)</script>-->
        {{book_partyname}}报名

        <div class="header-left">
            <button class="btn-style btn-4" ng-click="list1()">返回</button>
        </div>
        <div class="header-right">
            <button class="btn-style btn-4">开始报名</button>
        </div>
    </header>
</div>
<!--<div class="header-pulldown">-->
    <!--<input class="input-full" type="text">-->
<!--</div>-->
<!--<div class="jumbotron">-->
    <!--<button class="btn-style btn-2">开始</button>-->
    <!--<button class="btn-style btn-2">竞价</button>-->
<!--</div>-->
        <div>  <footer>
            <ul class="footer-nav footer-nav-2tabs">
                <li><a href=""><i class="icon-group"></i><br />开始</a></li>
                <li><a href=""><i class="icon-comments"></i><br />竞价</a></li>
            </ul>
        </footer></div>