<div class="jumbotron" id="book">
    <header>

        报名{{number}}
        <div class="header-left">
            <button class="btn-style btn-4" ng-click="list1()">返回</button>
            <button class="btn-danger" ng-click="delete_activity()">删除</button>
        </div>
        <div class="header-right" ng-switch="NGwen">
            <button class="btn-style btn-4" ng-switch-when="start" ng-click="start()" ng-disabled="button_able">开始</button>
            <button class="btn-style btn-4" ng-switch-when="false" ng-click="false11()">结束</button>
        </div>
    </header>
</div>

<div id="wrapper" class="wrapper scrollable" >
    <table class="table">
        <tr>
            <td>名字</td>
            <td>电话</td>
        </tr>
        <tr ng-repeat="(index, name) in names">
            <td>{{name}}</td>
            <td>{{phones[index]}}</td>

        </tr>
    </table>

</div>


<div>  <footer>
            <ul class="footer-nav footer-nav-2tabs">
                <li><a href=""><i class="icon-group"></i><br />开始</a></li>
                <li><a href=""><i class="icon-comments"></i><br />竞价</a></li>
            </ul>
        </footer></div>