<div class="jumbotron">
    <header>
        活动列表
        <div class="header-right">
            <button class="btn-style btn-4" ng-click="createactivity()">创建活动</button>
        </div>
    </header>
    </div>
            <div id="wrapper" class="wrapper scrollable">
                <ul class="list-style-3">
                    <!--<li>-->
                        <!--<a href="group-single.html">-->
                            <!--<h3 style="text-align: center">{{partyname}}</h3>-->
                        <!--</a>-->
                    <!--</li>-->

                    <li class=" clearfix btn-default" ng-repeat="list in lists" ng-click="gobook(list.name)">
                        <p class="pagination-centered">{{list.name}}</p>
                    </li>
                </ul>
            </div>
